body .workspace-leaf-content .markdown-rendered li[data-task="0"]>input[type="checkbox"]:checked,
body .workspace-leaf-content .cm-line.HyperMD-task-line[data-task="0"] input[type="checkbox"] {
    background-color: rgba(233, 49, 71, 0.18);
    border-color: rgba(233, 49, 71, 0.5);
}
body .workspace-leaf-content .markdown-rendered li[data-task="1"]>input[type="checkbox"]:checked,
body .workspace-leaf-content .cm-line.HyperMD-task-line[data-task="1"] input[type="checkbox"] {
    background-color: rgba(255, 210, 0, 0.18);
    border-color: rgba(255, 210, 0, 0.5);
}
body .workspace-leaf-content .markdown-rendered li[data-task="2"]>input[type="checkbox"]:checked,
body .workspace-leaf-content .cm-line.HyperMD-task-line[data-task="2"] input[type="checkbox"] {
    background-color: rgba(68, 207, 110, 0.18);
    border-color: rgba(68, 207, 110, 0.5);
}
body .workspace-leaf-content .markdown-rendered li[data-task="3"]>input[type="checkbox"]:checked,
body .workspace-leaf-content .cm-line.HyperMD-task-line[data-task="3"] input[type="checkbox"] {
    background-color: rgba(8, 109, 221, 0.18);
    border-color: rgba(8, 109, 221, 0.5);
}
body .workspace-leaf-content .markdown-rendered li[data-task="7"]>input[type="checkbox"]:checked,
body .workspace-leaf-content .cm-line.HyperMD-task-line[data-task="7"] input[type="checkbox"] {
    background-color: rgba(150, 150, 150, 0.15);
    border-color: rgba(150, 150, 150, 0.5);
}
body .workspace-leaf-content .markdown-rendered li[data-task="!"]>input[type="checkbox"]:checked,
body .workspace-leaf-content .cm-line.HyperMD-task-line[data-task="!"] input[type="checkbox"] {
    background-color: rgba(140, 0, 40, 0.22);
    border-color: rgba(140, 0, 40, 0.5);
}
